<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ship.web.adm.AdminMapper">
 	
	<select id="selectAdminByIdPw" resultType="Admin" parameterType="com.ship.web.adm.Admin">
       SELECT EID ,EPW
       FROM ADMIN
       WHERE EID = #{eid} AND EPW = #{epw}
   </select>
 
</mapper>